/* bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

/* universal  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/images/general/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* navegacion */
header{
    padding: 0 2em;
    background: linear-gradient(90deg, rgba(79,5,5,1) 0%, rgba(128,3,3,1) 100%);
}

.navbar{
    width: 100%;
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    /* logo  */
    .logo h1 {
        font-size: 2em;
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
            color: #fff6a9;
        font-family: "Sacramento", cursive;
        text-align: center;
        animation: blink 6s infinite;
        -webkit-animation: blink 6s infinite;
    }

    @-webkit-keyframes blink {
        20%,
        24%,
        55% {
            color: #111;
            text-shadow: none;
        }

        0%,
        19%,
        21%,
        23%,
        25%,
        54%,
        56%,
        100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
            color: #fff6a9;
        }
    }

    @keyframes blink {
        20%,
        24%,
        55% {
            color: #111;
            text-shadow: none;
        }

        0%,
        19%,
        21%,
        23%,
        25%,
        54%,
        56%,
        100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
            color: #fff6a9;
        }
    }

.navbar .links{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navbar .btn_menu{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

div>li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

div>li a:hover{
    color: orange;
    font-weight: bold;
}

div a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

div a:hover{
    color: orange;
    font-weight: bold;
}

/* menu dropdown - desplegable */
.dropdown_menu{
    z-index: 2;
    display: none;
    position: absolute;
    right: 2rem;
    top: 70px;
    height: 0;
    width: 300px;
    /* background-color: rgba(0, 0, 0, .5); */
    background-color: rgba(79, 5, 5, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.open{
    display: block;
    height: auto;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu a{
    color: #fff;
}

.dropdown_menu a:hover{
    color: orange;
}

/* carrusel de imagenes*/
.carrusel{
    width: 100%;
    max-width: 120em;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    overflow: hidden;
    
}

.carrusel .large{
    width: 300%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    transform: translateX(0%);
}

.carrusel .img{
    width: calc(100% / 3);
    height: 560px;
    border-radius: 0 0 10px 10px;
}

.carrusel .points{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 1em;
}

.carrusel .point{
    width: 4em;
    color: rgb(255, 255, 255);
}

.carrusel .point.active{
    color: rgb(255, 165, 0);
}

/* CTA */
.intro{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    padding: 40px;
    margin: 10px auto 10px;
    border-radius: 100px 100px 10px 10px;
    background-color: rgb(112, 29, 29);
    color: #fff;
}

/* tarjetas */
.container{
    width: 100%;
    display: flex;
    padding: 1px;
}

.card{
    width: 98%;
    margin: 5px;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(41, 40, 40, 0.4);
    box-shadow: 0px 1px 10px rgba(238, 232, 232, 0.3);
    backdrop-filter: blur(10px);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 0px 1px 10px rgba(255, 254, 254, 0.3);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 210px;
}

.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido p{
    color: #fff;
    font-size: 1em;
    line-height: 1.5;
}

.card .contenido h3{
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
}

/* pedidos - lightbox */
.text_order{
    padding: 3em 0 0;
}

.text_order h2{
    color: #fff;
    text-align: center;
}

.text_order h3{
    color: #fff;
    text-align: center;
}

.text_order i{
    padding: 1em 0 0;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.ul{
    margin: 2em auto auto;
    list-style: none;
    width: 90%;
    background-color: rgba(41, 40, 40, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 6px;
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.ul .li{
    border-radius: 6px;
    width: 90%;
    box-shadow: 0em .8em 1em rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.ul .img{
    height: 30vh;
    width: 100%;
    transition: all .6s ease;
    transform: scale(1.2);
}

.ul .li:hover .img{
    transform: scale(1);
}

.lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 3;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: scale(0);
    transition: all .5s ease;
    pointer-events: none;
}

.lightbox.mostrar{
    display: flex;
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.lightbox .close{
    width: 5em;
    height: 3em;
    background-color: lightgray;
    margin: 0 0 1em;
    border-radius: 4px;
    box-shadow: 0.5px 0.5px 0 0.5px rgb(0, 0, 0);
    cursor: pointer;
}

.lightbox .close:hover{
    box-shadow: inset 0.5px 0.5px 0 0.5px rgb(0, 0, 0);
}

.lightbox .grande{
    width: 55%;
    height: 75%;
    border-radius: 6px;
    box-shadow: 0 0 2em rgb(0, 0, 0);
    background-color: lightskyblue;
}

/* suscripción */
.sub{
    width: 100%;
    height: 300px;
    background-color: rgb(49, 50, 53);
    margin: 3em 0 0;
    overflow: hidden;
}

.sub_cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.sub_cont h3{
    color: #a02a2a;
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 10px;
}

.sub_cont p{
    color: #bb3c3c;
    font-weight: bolder;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.sub_form{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sub_campo{
    text-align: center;
    width: 40em;
    padding: 4px;
    margin: 10px;
    border-radius: 10px;
    background-color: #3d3e41;
}

.sub_btn{
    margin: 10px;
    font-size: large;
    color: #fff;
    border: 1px solid #727272;
    border-radius: 10px;
    width: 10em;
    cursor: pointer;
    background-color: #5e5e5e;
}

/* footer */
.footer{
    width: 100%;
    background-color: rgb(30, 31, 32);
}

.footer .group_1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .group_1 .box h2{
    color: #a02a2a;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .group_1 .box p{
    color: #bb3c3c;
    font-weight: bolder;
    margin-bottom: 10px;
}

.footer .group_1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    border: 1px solid #727272;
    margin-right: 10px;
    background-color: rgb(69, 71, 73);
    text-align: center;
}

.footer .group_2{
    background-color: rgb(24, 24, 26);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.red-social i.bi-facebook:hover{
    color: rgb(91, 176, 255);
}

.red-social i.bi-instagram:hover{
    color: rgb(248, 124, 165);
}


small{
    font-size: 15px;
}

/* diseño responsivo */
@media(max-width: 992px){
    .navbar .links{
        display: none;
    }

    .navbar .btn_menu{
        display: block;
    }

    .dropdown_menu .open{
        display: block;
    }

    .lightbox .grande{
        width: 360px;
        height: 400px;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}

@media(max-width: 425px){
    .carrusel .img{
        height: 240px;
    }

    .intro{
        width: 90%;
    }

    .container{
        display: block;
    }

    .ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }

    .ul .li{
        width: 100%;
    }

    .ul .li img{
        height: 150px;
    }

    .lightbox .grande{
        height: 360px;
    }

    .sub_campo{
        width: 280px;
    }

    .sub_btn{
        width: 160px;
    }

    .footer .group_1{
        width: 90%;
        margin: 0 2em 0;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3em;
        padding: 2em 0;
    }
}

@media(max-width: 375px){
    .card{
        width: auto;
    }

    .card:hover{
        box-shadow: 0px 1px 10px rgba(255, 254, 254, 0.3);
        transform: translateZ(3%)
    }

    .ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }
}